$accent: linear-gradient(187.24deg, #F8CD8C 0%, #F03A5B 45.31%, #993E76 100%, #F39ED3 100%);
$text: #828289;

$mediaWidthMobileSmall: 320px;
$mediaWidthMobile: 480px ;
$mediaWidthTablet: 767px ;
$mediaWidthTabletHorizontal: 992px ;
$mediaWidthLaptop: 1200px ;
